.list-container-padding {
  padding-top: 55px !important;
  padding-bottom: 50px !important;
}

.item-selected {
  background-color: #bbbbbb !important;
}

.item-icon {
  padding-left: 5px;
  padding-right: 10px;
}

.item-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.item-description {
  color: green;
  font-size: 0.9rem;
}

.item-amount {
  font-weight: bold;
  font-size: 1.1rem;
}

.item-date {
  color: grey;
  font-size: 0.9rem;
}

.toggler-button {
  padding-top: 8px;
  padding-bottom: 8px;
}

/* disable popup context menu in browser */
*:not(input):not(textarea) {
  -webkit-user-select: none; /* disable selection/Copy of UIWebView */
  -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}

.rect-button {
  border-radius: 0px;
}
